* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
/*Control de imagen chalalas*/
img.chalalas {
  cursor:none;
}
img.chalalas:hover {
transition: none;
transform: scale(1.0);
}
/***************************************/
/*img para zoom en imagenes*/
img {
  /*margin: auto;*/
  cursor: pointer;
  transition: 2s;
  /*border: 5px solid darkblue;*/
}
img:hover{/*simula zoom*/
  transform: scale(1.1);
  transition: 2s;
}
/*****************************************/

img.galeria {
  width: 100%;
  /*border: 5px solid darkblue;*/
}

/*Para WhatsApp*/
img.whatsapp {
  width: 40%;
  transition: 0s;
}
.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;/*cuando no cabe pasa a la siguiente*/
}
.column{
  flex: 25%;
  padding: 5px;
}
.column img{
  margin-top: 5px;
}
@media (min-width: 600px) and (max-width: 800px){
  .column{
    flex: 33%;
  }
}
/*Mustra galeria en dos columnasen moto C*/
  @media(min-width: 275px) and (max-width: 600px){
  .column{
    flex: 50%;
  }
}