.env
red/
.vscode/
conexion.php
config.php
fotos.php
fotos2.php
chalalas.sql
Mostrar_blog.php
Insertar_Contenido.php
Insertar_Contenido2.php
comprueba_login3.php
pagina_insertar_usuarios3.php
crud11.php
borrar11.php
editar11.php