* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Navegación {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  padding: 17px;

}

.logo {
  color:#fff;
  text-shadow: 1px 1px 1px black;
}

.listas {
display: inline-block;
color: #fff;
padding: 6px;
font-weight: bold;
transition: .3s ease;
}

.listas a {
  color: #fff;
  text-decoration: none;
  margin-left: 3px;
  transition: .3s ease;
}

.listas:hover {
  color: black;
  
}
.listas>a:hover {
color :blank;
}
