*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:3px;
}
table, table.uno {/*fondos de tabla*/
  font-size: 14px;
  width: 37%;
  margin: auto;
  background-color: rgb(194, 154, 69);
  border: 2px solid #FF9900;
  padding: 5px;
}

td {/*Margenes de tabla*/
  padding: 5px 0;
}

table td {/*Lineas de tabla*/
  text-align: center;
  border: 1px #000 dotted;
}
#campo_titulo1, 
#campo_descripcion1,
#campo_precio1,
#campo_titulo2, 
#campo_descripcion2,
#campo_precio2,
#campo_titulo3, 
#campo_descripcion3,
#campo_precio3,
#campo_titulo4, 
#campo_descripcion4,
#campo_precio4{
  font-size: 18px;
  background-color: white;
  color: #000;
}



