/*RESET Comfiguracion para PC*/
@media(min-width: 600px) and (max-width: 3500px){
*{
  margin: 0;
  padding: 0;
}
body{
  background: #b8bacf;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
#position1 {
  height: 40px;
  background: #0e6133;
  padding: 0px 0px;
  color: #c9dd14;
  display:flex;/*orden, uno a lado de otro*/
  justify-content:last baseline;/*separacion de palabras*/
  align-items:center;/*centra en horizontal*/
}
#position1 {/*FIJAR EL HEADER en desktop*/
  width: 100%;
  position: fixed;
  left:0px;
  top: 0px;
}
#busqueda1{
  font-size: 18px;
  background-color: white;
  padding: 6px 30px;/*tamaño de buscador*/
  margin-top: 15px;
  margin-left: 5px;
}
#enviar1, #registrate1, #login1{
  background: #f89443;
  font-size: 18px;
  padding: 6px 5px;
  margin-top: 15px;
  margin-left: 0px;
}
chalalas2{/*oculta logo chalalas4*/
    display:none;
}
#position2{/*Ocultar el segundo HEADER*/
  display: none;
}

.logo{
  display: nose;
 /* width: 200px;*/
  /*height: 100px;*/
}
h1 {
  /*color: #dd5404;*/
  color: #1b0de2;
}
h1.construccion {
  color:#850a85
}
p.contenido_resumen {
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #097217;
}
h2 {
  color: #ee1a0b;
}
h3 {
  color: rgb(217, 10, 236);
}
}

/*PANTALLA BLANCA*/
@media(min-width: 3501px) and (max-width: 5500px){
body{
  /*display: none;*/
}
#position1 {
  display: none;
}
#position1 {/*FIJAR EL HEADER en desktop*/
  display: none;
}
#busqueda1{
  display: none;
}
#enviar1, #registrate1, #login1{
  display: none;
}
chalalas2{/*oculta logo chalalas4*/
    display:none;
}
#position2{/*Ocultar el segundo HEADER*/
  display: none;
}
.logo{/*LOGO EN PANTALLA BLANCA*/
  width: 200px;
  height: 100px;
}
h1 {
  display: none;
}
h1.construccion {
  display: flex;
  margin-top: 225px;
}
p.contenido_resumen {
  display: none;
}
}