/* Contenedor general de los productos */
.productos-container {
  display: flex; /* Cambiar a un diseño horizontal */
  flex-wrap: wrap; /* Permitir que los elementos bajen a la siguiente fila si no caben */
  gap: 10px; /* Espacio entre productos */
  justify-content: flex-start; /* Alinear los elementos al inicio */
  padding: 10px;
}

/* Cada producto en formato horizontal */
.producto {
  display: flex; /* Hace que el contenido del producto también sea horizontal */
  flex-direction: column; /* Si quieres que los elementos de cada producto se alineen verticalmente */
  align-items: center; /* Centrar contenido horizontalmente */
  border: 4px solid #1dd920;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  max-width: 120px; /* Ancho máximo para cada producto */
  text-align: center; /* Centra el texto dentro del producto */
}

/* Imagen del producto */
.producto .imagen {
  width: 100%; /* Que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Mantener proporción */
  border-radius: 5px;
  cursor: pointer; /* Indica que es clickeable */
}

/* Espaciado entre título, descripción, precio */
.producto .titulo_h,
.producto .descripcion_h,
.producto .precio_h {
  color: rgb(234, 14, 216);
  margin: 2px 0;
}
.tcategorias {
  color: blue;
  font-family:'Times New Roman', Times, serif ;
  font-size: 22px;
  max-width: 180px;
  background-color: #fff;
  text-align: center; 
}

/* Botón de WhatsApp */
.producto a img {
  margin-top: 10px;
}
