@media (width>= 601px){
body {
  background-color: #d8d4d4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
  color: rgb(8, 91, 185);
}
h3 {
  text-align: center;
  color: rgb(226, 99, 14);
}
form {
    margin: 0 auto;
    width: 240px;
    background-color: #68ce6d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
    
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  button[type="submit"] {
    background-color: #af704c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
}


  /*para mobile 640*/
 @media (width<= 600px) {
  body {
    background: rgb(0, 0, 0);
  }
  form {
    width: 240px;/*ancho de tabla*/
    background-color: #56a85a;
    padding: 90px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
    margin: 0 auto;/*centra en horizontal*/
  }
  h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fa8704;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 120%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  button[type="submit"] {
    font-size: 18px;
    background-color: #af704c;
    color: #fff;
    padding: 14px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .ocultar-div{
    display:none;
}
}